[submodule "pack/colorscheme/start/onedark"]
	path = pack/colorscheme/start/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/ux/start/airline"]
	path = pack/ux/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/ux/start/airline-theme"]
	path = pack/ux/start/airline-theme
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/ux/start/devicons"]
	path = pack/ux/start/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/ux/start/nerdtree"]
	path = pack/ux/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/vcs/start/gitgutter"]
	path = pack/vcs/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
