[submodule "pack/ux/start/airline"]
	path = pack/ux/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/ux/start/airline-theme"]
	path = pack/ux/start/airline-theme
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/ux/start/devicons"]
	path = pack/ux/start/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/ux/start/nerdtree"]
	path = pack/ux/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/vcs/start/gitgutter"]
	path = pack/vcs/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/vcs/start/fugitive"]
	path = pack/vcs/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/syntax/start/javascript"]
	path = pack/syntax/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/syntax/start/jsx"]
	path = pack/syntax/start/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "pack/syntax/start/haskell"]
	path = pack/syntax/start/haskell
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "pack/syntax/start/csharp"]
	path = pack/syntax/start/csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "pack/syntax/start/ps1"]
	path = pack/syntax/start/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/colorscheme/opt/onedark"]
	path = pack/colorscheme/opt/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/syntax/start/rust"]
	path = pack/syntax/start/rust
	url = https://github.com/rust-lang/rust.vim.git
